@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (min-width: 1200px) {
  .eligibilityBox {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .eligibilityBox {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .eligibilityBox {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .eligibilityBox {
    max-width: 540px;
  }
}
@media (max-width: 409px) {
  .elig-two-buttons-wrapper button {
    padding: 8.5px 16px;
    width: 200px;
  }
}

html {
  font-size: 9px;
}

body {
  font-family: "Poppins";
  margin: 0;
}

.eligibilityBox {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 208px;
  --primary-color: #8c2246;
  --text-color: #3b4544;
}

#elig-h3 {
  font-size: 24px !important;
  font-weight: 700;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Poppins" !important;
  line-height: 1.5;
}

.elig-p {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.elig-address {
  font-size: small;
  font-style: italic;
  line-height: normal;
  margin-bottom: 8px;
}

.elig-form {
  margin-top: 16px;
}

.elig-label {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
  display: block;
}

.elig-input {
  display: block;
  padding: 0.75rem 1rem;
  font-size: 1.6rem;
  font-family: "Poppins";
  font-weight: 200;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  max-width: 70rem;
  border-radius: 5px;
  border: 0.5px solid var(--primary-color);
  margin: 0.5rem 0;
  margin-bottom: 16px;
}

.elig-input:focus {
  outline: 1.5px solid var(--primary-color);
  outline-offset: 0;
}

.elig-input:focus-visible {
  outline: 1.5px solid var(--primary-color);
}

.elig-input:target {
  border: 1px solid yellow;
}

div.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 70rem;
  padding-top: 2em;
}

.loading img {
  aspect-ratio: 1;
  width: 50px;
}

.elig-two-buttons-wrapper {
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
}

.elig-button-and-link-wrapper {
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 16px;
  row-gap: 8px;
}

.elig-button {
  align-self: center;
  min-height: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  line-height: 1.8rem;
  padding: 8.5px 20px;
  border-radius: 22px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.elig-button:hover {
  background-color: #ffffff;
  color: var(--primary-color);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.elig-button:focus {
  outline: none;
}

.elig-button-secondary {
  background-color: white;
  color: var(--primary-color);
}

.elig-location-svg {
  display: inline-block;
  margin-right: 0.3em;
  background-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  background-image: url("./assets/location.svg");
  background-repeat: no-repeat;
}

.pac-item {
  font-family: "Poppins";
}

.pac-item-selected .pac-icon-marker {
  background-position: center;
}

.pac-icon {
  margin-right: 0.4em;
  margin-top: 0.4em;
  background-image: url("./assets/location.svg") !important;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
}

.elig-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
}

.elig-li-wrapper {
  width: fit-content;
  list-style-position: inside;
  padding-right: 16px;
}

.elig-li {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.elig-success-svg {
  display: inline-block;
  background-image: url("./assets/HFCU_Emotes_RGB_Full_Color_Laughter.svg");
  background-size: 100%;
  width: 60px;
  height: 60px;
  transform: rotate(-10deg);
}

.elig-wonder-svg {
  background-image: url("./assets/HFCU_Emotes_RGB_Full_Color_Wonder.svg");
  background-size: 110%;
  width: 70px;
  height: 70px;
}

.elig-a {
  color: var(--primary-color);
  align-self: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 5rem;
  text-decoration: underline;
}

#elig-jointoday-a {
  margin-right: 0;
}

#elig-h4 {
  font-size: 1.9rem !important;
  font-family: "Poppins";
  color: var(--primary-color);
  margin-top: 8px;
  margin-bottom: 8px;
}
